/* task-01 */
#categories {
  display: flex;
  border: solid 1px black;
}
.item {
  list-style: none;
  margin-right: 30px;
}
/* task-02 */
#ingredients {
  display: flex;
  border: solid 1px black;
}
#ingredients > li {
  margin-right: 30px;
}
/* task-03 */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  border: solid 1px black;
}
ul#gallery > li > img {
  height: 250px;
  margin-right: 30px;
}
/* task-04 */
#counter {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border: solid 1px black;
}
#counter > span {
  font-weight: 600;
}
#counter > button {
  background-color: white;
  border-radius: 30px;
  margin: 0 30px 0;
  outline: none;
}
#counter > button:first-child {
  color: red;
  border-color: red;
}
#counter > button:first-child:active {
  color: white;
  background-color: red;
}
#counter > button:last-child {
  color: green;
  border-color: green;
}
#counter > button:last-child:active {
  color: white;
  background-color: green;
}
/* task-05 */
h1 {
  display: inline;
  font-size: 19px;
}
/* task-05 */
#validation-input {
  border: 3px solid #bdbdbd;
  padding: 10px 15px;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
